<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning
    </title>
</head>

<body>
    <div id="app">
        <h1>{{title}} </h1>
        <div>Fruit to add:</div>
        <input type="text" v-model="newFruit">
        <button v-on:click="addFruit">ADD</button>
        <ul>
            <li v-for="fruit of fruits">
                <input type="number" v-model.number="fruit.quantity">
                {{fruit.name}}
                <button v-on:click="fruit.quantity++">+</button>
                <button v-if="fruit.quantity >= 1" v-on:click="fruit.quantity--">-</button>
                <span v-if="fruit.quantity === 0">Without stock</span>
            </li>
        </ul>
        <h4>TOTAL: {{sumFruits}} </h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>